<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISOEFACIL.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ISOEFACIL.My.MySettings>
            <setting name="connectionString" serializeAs="String">
              <value>Data Source =CLEYTON-PC; Initial Catalog =ISO; User Id=sa; Password=iza0112;</value>
              <!--<value>Data Source =THIAGO-NOT; Initial Catalog =ISO; Integrated Security=SSPI;</value>-->
              <!--<value>Data Source =DES03; Initial Catalog =ISO; Integrated Security=SSPI;</value>-->
              <!--<value>Data Source =DES02; Initial Catalog =ISO; User Id=sa; Password=raizer2010;</value>-->
              <!--<value>Data Source =DES04\SQLEXPRESS; Initial Catalog =ISO; User Id=iso; Password=admrai54;</value>-->
              <!--<value>Data Source =RAIZER-SRV; Initial Catalog =ISO; User Id=sa; Password=raizer2010;</value>-->
              <!--<value>Data Source =LUCIANO; Initial Catalog =ISO; User Id=sa; Password=raizer2010;</value>-->
            </setting>
        </ISOEFACIL.My.MySettings>
    </userSettings>
</configuration>
